<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Student">
    <insert id="save" parameterType="student">
        insert into student_table(studentNumber, studentName, studentMajor, studentMobile)
        value(#{studentNumber}, #{studentName}, #{studentMajor}, #{studentMobile})
    </insert>

    <select id="list" resultType="student">
        select * from student_table
    </select>
    <select id="detail" parameterType="int" resultType="student">
        select * from student_table where id=#{id}
    </select>

    <update id="update" parameterType="student">
        update student_table set studentMajor=#{studentMajor}, studentMobile=#{studentMobile}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from student_table where id=#{id}
    </delete>
</mapper>









